<h1 class="text-center text-2xl">Ajouter des Staffs</h1>
<form [formGroup]="promoForm" class="flex justify-center gap-5 mt-5">
    <div [formGroup]="promoForm" class="flex flex-col w-[250px]">
        <label for="former_1">Formateur 1 <span
                  class="text-color-red font-bold">*</span></label>
        <select id="former_1" name="former_1" formControlName="former_1"
                [ngClass]="{'field-touched': promoForm.get('former_1')?.touched && promoForm.get('former_1')?.invalid}"
                class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1">
            <option value="" disabled selected>Sélectionner un formateur
            </option>
            <option *ngFor="let person of people" [ngValue]="person">{{
                person.name }}</option>
        </select>
        <label class="mt-8" for="former_2">Formateur 2 <span
                  class="text-color-red font-bold">*</span></label>
        <select id="former_2" name="former_2"
                [ngClass]="{'field-touched': promoForm.get('former_2')?.touched && promoForm.get('former_2')?.invalid}"
                formControlName="former_2"
                class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1">
            <option value="" disabled selected>Sélectionner un formateur
            </option>
            <option *ngFor="let person of people" [ngValue]="person">{{
                person.name }}</option>
        </select>
        <label class="mt-8" for="cdp">Cdp <span
                  class="text-color-red font-bold">*</span></label>
        <select id="cdp"
                class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1"
                name="cdp" formControlName="cdp"
                [ngClass]="{'field-touched': promoForm.get('cdp')?.touched && promoForm.get('cdp')?.invalid}">
            <option value="" disabled selected>Sélectionner un CDP </option>
            <option *ngFor="let person of people" [ngValue]="person">{{
                person.name }}</option>
        </select>
    </div>
    <div class="flex flex-col w-[250px]">
        <label for="admin">Chargé(e) d'Admin <span
                  class="text-color-red font-bold">*</span></label>
        <select id="admin"
                class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1"
                name="admin" formControlName="admin_head"
                [ngClass]="{'field-touched': promoForm.get('admin_head')?.touched && promoForm.get('admin_head')?.invalid}">
            <option value="" disabled selected>Sélectionner un chargé(e) d'admin
            </option>
            <option *ngFor="let person of people" [ngValue]="person">{{
                person.name }}</option>
        </select>
        <label class="mt-8" for="campus_manager">Responsable Campus <span
                  class="text-color-red font-bold">*</span></label>
        <select id="campus_manager" name="campus_manager"
                formControlName="campus_manager"
                [ngClass]="{'field-touched': promoForm.get('campus_manager')?.touched && promoForm.get('campus_manager')?.invalid}"
                class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1">
            <option value="" disabled selected>Sélectionner un responsable
                campus </option>
            <option *ngFor="let person of people" [ngValue]="person">{{
                person.name }}</option>
        </select>
        <label class="mt-8" for="pedagogical_manager">Responsable Pédagogique
            <span class="text-color-red font-bold">*</span>
        </label>
        <select id="pedagogical_manager" name="pedagogical_manager"
                formControlName="pedagogical_manager"
                [ngClass]="{'field-touched': promoForm.get('pedagogical_manager')?.touched && promoForm.get('pedagogical_manager')?.invalid}"
                class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1">
            <option value="" disabled selected>Sélectionner un responsable
                pédagogique</option>
            <option *ngFor="let person of people" [ngValue]="person">{{
                person.name }}</option>
        </select>
    </div>
</form>