<h1 class="text-center text-2xl">Ajouter une Promo</h1>
<form [formGroup]="promoForm" class="flex justify-center gap-5 mt-5">
    <div class="w-[250px] flex flex-col">
        <label for="name">Nom <span
                  class="text-color-red font-bold">*</span></label>
        <input class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1"
               type="text" placeholder="Nom de la promo ..."
               [ngClass]="{'field-touched': promoForm.get('name')?.touched && promoForm.get('name')?.invalid}"
               id="name" name="name" formControlName="name"
               formControlName="name" required>
        <!-- <div *ngIf="promoForm.get('name')?.invalid && promoForm.get('name')?.touched"
             class="error-message"> Le nom est requis. </div> -->
        <label class="mt-8" for="type">Type <span
                  class="text-color-red font-bold">*</span></label>
        <select class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1"
                id="type" name="type" formControlName="type"
                [ngClass]="{'field-touched': promoForm.get('type')?.touched && promoForm.get('type')?.invalid}"
                required>
            <option value="" selected>Sélectionner un type</option>
            <option value="dev inté">Dev Inté</option>
            <option value="dev front">Dev Front</option>
            <option value="dev c#">Dev C#</option>
        </select>
        <label class="mt-8" for="place">Lieu <span
                  class="text-color-red font-bold">*</span></label>
        <input class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1"
               type="text" id="place" formControlName="place"
               [ngClass]="{'field-touched': promoForm.get('place')?.touched && promoForm.get('place')?.invalid}"
               name="place" required>
    </div>
    <div class="w-[250px] flex flex-col">
        <label class="" for="start_date">Date de Début <span
                  class="text-color-red font-bold">*</span></label>
        <input class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1"
               type="date" id="start_date" name="start_date"
               [ngClass]="{'field-touched': promoForm.get('start_date')?.touched && promoForm.get('start_date')?.invalid}"
               [ngClass]="{'field-touched': promoForm.hasError('dateRange') }"
               formControlName="start_date" required>
        <label class="mt-8" for="end_date">Date de Fin <span
                  class="text-color-red font-bold">*</span></label>
        <input class="py-3 px-4 pe-9 block w-full bg-color-select  rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none mt-1"
               type="date" id="end_date" name="end_date"
               [ngClass]="{'field-touched': promoForm.get('end_date')?.touched && promoForm.get('end_date')?.invalid || promoForm.hasError('dateRange')}"
               formControlName="end_date" required>
    </div>
</form>